<%- include('../layouts/header.ejs') %>
        <h2 style="text-align: center;margin-top:10px;">
            About Us
        </h2>
        <div class="container">
          
                <div class="col">
        
        <br>
        <div style="text-align: right;">
            <h5>Our Location</h5>
        <iframe style="margin-left: 15px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62228.462576877035!2d77.53687459833031!3d12.889778649753369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae150d7349a72b%3A0xf3d03ea1e1dd3d46!2sJ.%20P.%20Nagar%2C%20Bengaluru%2C%20Karnataka%20560078!5e0!3m2!1sen!2sin!4v1708014262903!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
         <br>
         <br>
      
</div>
</div>
</body>
</html>