<%- include('../layouts/adminHeader.ejs') %>

<section style="background-color: #eee; padding-top: 5px;" >
   <!-- <marquee> -->
    <div >Welcome Admin</div>
<!-- </marquee> -->
</section>
</body>
</html>