<%- include('../layouts/header.ejs') %>
        <h2 style="text-align: center;margin-top:30px;margin-bottom: 30px;">
          Blog
        </h2>
        <section class="main">
            <div class="container py-5">
                <div class="row py-4">
                    <div class="col-lg-7 pt-5 text-center">
                        <h2 class="pt-4">Nature Has Always Cared For Us!</h2>
                    </div>
                </div>
            </div>
    
        </section>
        
    <!-- <div class="container">  -->

<br><br>
<div class="row">
        <div class="col-md-6" >
          <h2 style="margin-left: 20px;">Organic food is good for your health<p></p>
          <p style="font-size: medium;">&nbsp;&nbsp; Organic products reduce public health risks to farm workers, their families, 
            and consumers by minimizing their exposure to toxic and persistent chemicals on the farm and in food, the soil in which 
            they work and play, the air they breathe, and the water they drink. Children are especially vulnerable to pesticides. Thus, 
            offering organic food and fiber products into the marketplace 
            gives parents the option of choosing products produced without the use of these toxins.
            <p>
            <img src="/images/bg_3.jpg" alt="" style="width:70% ">    
        </p>

         <p style="font-size: medium;"> However, current evidence does not support any meaningful nutritional benefits or
           deficits from eating organic compared with conventionally grown foods, and there are no well-powered human studies that 
           directly demonstrate health benefits or disease protection as a result of consuming an organic diet. Pediatricians should 
           incorporate this evidence when discussing the health and environmental impact of organic foods and organic farming while continuing to encourage all patients and their families to attain 
          optimal nutrition and dietary variety consistent with the US Department of Agriculture’s MyPlate recommendations.
         
          </p>
          
           
            <div class="comment-body" style="font-size: medium;"> <p>Comments</p> 
              <li class="comment">
              <h5>John D</h5>
              <div class="meta">Feb24 , 2024 at 2:21pm</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
              <p><a href="#" class="reply">Reply</a></p>
            </div>
          </li>
          </ul>
        </h2>
        </div>
        
            <div class="col-md-6">
              <h2 >Farm Fresh <p></p>
              <p style="font-size: medium;">&nbsp;&nbsp;Eating organic foods has become popular in recent years because the 
                foods are more readily available than they previously 
                were and offer undeniable health benefits. In addition, many believe they taste better.

                There is also a greater awareness about caring for the earth in the face of climate change and many farms 
                that produce organic foods follow more stringent environmental guidelines.
                <p>
                <img src="/images/bg_2.jpg" alt="" style="width:70%">    
            </p>
             <p style="font-size: medium;">The global environmental crisis has led to much talk about sustainability,
               proper waste management, and green living. These discussions include growing crops organically to minimize farming's carbon 
               footprint. Since organically grown crops are not treated with chemicals,
               the fruits and vegetables do not contain harmful compounds that pollute
             
              </p>
               
            <div class="comment-body" style="font-size: medium;"> <p>Comments</p> 
              <li class="comment">
              <h5>Jeevan</h5>
              <div class="meta">Feb10 , 2024 at 5:10pm</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
              <p><a href="#" class="reply">Reply</a></p>
            </div>
          </li>
          </ul>
        </h2>
        </div>
            </h2>
         
        </div>
</div>


<!-- </div> -->

<!-- <section> -->