<%- include('../layouts/adminHeader.ejs') %>

    <section style=" padding-top: 5px;" >
    <div class="category-form">
        <form action="/admin/category" method="post" id="categoryForm" enctype="multipart/form-data">
            <h2 class="text-center">Add Category</h2>

            <div name="error" style="font-size:x-small; color:green; text-align: center;">
                <% if(typeof message !=='undefined' ){ %>
                    <h4>
                        <%= message %>
                    </h4>
                <% } %>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="title" name="title" id="title1"  text-center required="required" value="<%= data.title %>">
                <% if( errors && errors.title ) { %>
                    <span class="text-danger"><%= errors.title.msg %></span>
                    <% } %>

                    <input type="number" class="form-control" placeholder="offer percentage" name="offer" id="offer"  text-center >
            </div>
            
            <div class="form-group">
             <label class="form-label" class="form-control"  for="form3Example4c2" text-center>&nbsp;&nbsp;Add category Image</label>
            
              <input type="file" class="form-control" text-center name="image" id="image" required>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Add Category</button>
            </div>

        </form>
     

    </div>
</section>


</body>


</html>