<%- include('../layouts/adminHeader.ejs') %>
 <style>
        /* Custom Styles */
        body {
            padding: 20px;
        }

        form {
            max-width: 600px;
            margin: auto;
        }

        /* Additional Styles for Larger Screens */
        @media screen and (min-width: 576px) {
            form {
                padding: 20px;
            }
        }
    </style> 



    <div class="container">

        <h2 class="mt-4 mb-4" style="text-align: center;">Add Coupons</h2>

        <form>
            <div class="form-group">
                <label for="couponCode">Coupon Code</label>
                <input type="text" class="form-control" id="couponCode" placeholder="Enter coupon code" required>
            </div>
            <div class="form-group">
                <label for="couponDescription">Coupon Description</label>
                <textarea class="form-control" id="couponDescription" rows="3" placeholder="Enter coupon description" required></textarea>
            </div>
            <div class="form-group">
                <label for="expirationDate">Expiration Date</label>
                <input type="date" class="form-control" id="expirationDate" required>
            </div>
            <div class="form-group">
                <label for="discountPercentage">Discount Percentage</label>
                <input type="number" class="form-control" id="discountAmount" placeholder="Enter discount percentage" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Coupon</button>
        </form>

    </div>

    <!-- Bootstrap JS and Popper.js (Optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
