<%- include('../layouts/header.ejs') %>
<!-- <section style="background-color: #eee; padding-top: 5px;" >
    <section class="main">
        <div class="container py-5">
            <div class="row py-4">
                <div class="col-lg-7 pt-5 text-center">
                    <h2 class="pt-4">Nature Has Always Cared For Us!</h2>
                </div>
            </div>
        </div>

    </section> -->
    <div class="category-form"  style="margin-top: 60px;">
        <form action="/changePassword" method="post"  >
            <h3 class="text-center">Change Password</h3>

            <div name="error" style="font-size:x-small; color:green; text-align: center;">
                <% if(typeof message !=='undefined' ){ %>
                    <h4>
                        <%= message %>
                    </h4>
                <% } %>
            </div>
             <div class="form-group">
             <input type="password" class="form-control" placeholder="New password" name="password" id="pass" value="" text-center required="required" >

            <% if( errors && errors.password ) { %>
                <span class="text-danger"><%= errors.password.msg %></span>
                <% } %>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm  new  password" name="cPassword" id="title1" value="" text-center required="required" >
                
               <% if( errors && errors.cPassword ) { %>
                   <span class="text-danger"><%= errors.cPassword.msg %></span>
                   <% } %>
               </div>
                       <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </div>

        </form>

    </div>
</section>

</body>

</html>